<h1>Bienvenue dans l'application <strong>{{config.appName}}</strong></h1>

<p>
  Vous êtes perdu.e devant votre alimentation ?<br/>
  Vous souhaitez la suivre et la maitriser au quotidien ?<br />
  <strong>{{config.appName}}</strong> est faite pour vous !!
</p>

<p>
  <strong>{{config.appName}}</strong> vous permet de : <br />
</p>

<ul>
    <li><a routerLink="/aliment">Consulter</a> une base de données alimentaire permettant de connaitre la qualité nutritive de chaque aliment</li>
    <li>Vous constituer des repas et des <a routerLink="/recipe">recettes</a> équilibrées</li>
    <li>Suivre votre évolution au cours du temps (poids, consommation calorique, ...)</li>
</ul>

