<h1>Bienvenu dans l'application <strong>My Diet</strong></h1>

<p>
  Vous êtes perdu devant votre alimentation ?<br/>
  Vous souhaitez la suivre et la maitriser votre alimentation au quotidien ?<br />
  <strong>My Diet</strong> est faite pour vous !!
</p>

<p>
  <strong>My Diet</strong> vous permet de : <br />
</p>

<ul>
    <li><a routerLink="/aliment">Consulter</a> une base de données alimentaire permettant de connaitre la qualité nutritive de chaque aliment</li>
    <li>De vous constituer des repas et des <a routerLink="/recipe">recettes</a> équilibrées</li>
    <li>De suivre votre évolution au cours du temps (poids, consommation calorique, ...)</li>
</ul>

