

<form class="example-form">
  <fieldset>
    <legend>Ma recette</legend>
     <mat-grid-list cols="2" rows="1" rowHeight="50px;" >  
      <mat-grid-tile class="grid-item header">
    
        <mat-label>Nom de l'aliment :</mat-label>
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="nom de l'aliment (ex : sushi)" value="">
        </mat-form-field>
    
      </mat-grid-tile>
    </mat-grid-list>
  </fieldset>

  <fieldset>
    <legend>Composition</legend>
  </fieldset>
</form>

