<ng-container *ngIf="getAliment() != null">
  <div class="row">

    <div class="col-lg-12">
      <div id="header" class="clair">
        <h1>{{getAliment().name}}</h1>
      </div>
    </div>

 </div>

  <div class="row">
          <div class="col-lg-4">
            <img class="img-thumbnail" src="{{getAliment().visual}}" alt="">
          </div>  
          <div class="col-lg-8">{{getAliment().description}}</div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div style="margin-top:50px;"></div>
    </div>
  </div>

  <table class="table table-condensed">
      <thead>
        <tr class="center">
          <th>Proteines en gr</th>
          <th>Glucides en gr</th>
          <th>Lipides en gr</th>
          <th>IG en %</th>
        </tr>
      </thead>
      <tbody>
        <tr class="center">
          <td>{{getAliment().proteins}}</td>                    
          <td>{{getAliment().glucids}}</td>
          <td>{{getAliment().lipids}}</td>
          <td>{{getAliment().ig}}</td>
        </tr>
      </tbody>
    </table>
</ng-container>