<h2>Mise à jour d'un repas</h2>

<div id="meal" *ngIf="getMeal() != null">
    <div class="panel-body"> 
        <div class="row">
            <div class="col-lg-12">              
                <div class="row">
                    <div class="col-lg-6">  <!-- left column --> 
                        <form>
                            <fieldset class="col-md-12">    	
                                <legend>Mon repas</legend>
                                <form>
                                        <div class="row">
                                                <div class="col-md-8" style="padding:25px;">                   
                                                    <div class="row">
                                                        <mat-label for="name">Nom :</mat-label>
                                                        <mat-form-field>                                
                                                            <input matInput placeholder="nom de la catégorie (ex: Fruit)" name="name" [(ngModel)]="getMeal().name" #name>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="row">
                                                    <mat-label for="moment">Moment:</mat-label>
                                                        <mat-form-field *ngIf="getMoments() != null">
                                                    
                                                            <mat-select id="moment" name="moment" placeholder="Select" value="" (selectionChange)="changeMoment($event)">
                                                                <mat-option value=""></mat-option>
                                                                <mat-option *ngFor="let moment of getMoments()" value="{{moment.id}}">{{moment.name}}</mat-option>
                                                        </mat-select>
                                                        
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="row">
                                                        <mat-label for="date">Date:</mat-label>
                                                        <mat-form-field>
                                                            <input matInput type="date" name="date" id="date" [(ngModel)]="getMeal().date" />
                                                        </mat-form-field>
                                                        
                                                    </div>
                                                      
                                                </div>
                                               
                                              </div>
                                </form>
                            </fieldset>	
                        </form>                         
                    </div>                    	
                </div>
            </div>
        </div>
    </div>
</div>