<h1>Vos recettes</h1>

<div id="recipe">

  <div id="search">
    <form>
      <fieldset>
        <legend>Recherche :</legend>
        <mat-form-field appearance="legacy">
            <mat-label>Chercher</mat-label>
            <input matInput placeholder="Chercher une recette" (input)="filter(search.value)" #search>
            <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
      </fieldset>
    </form>
  </div>

  <p>
    <a routerLink="/recipe/add">
      <mat-icon>add_box</mat-icon>
    </a>
  </p>
  
  <div id="recipeList" *ngIf="getRecipes() != null">
    <table class="table table-striped table-bordered">
      <thead>
          <tr>              
            <td>Nom</td>
            <td>Nb ingrédients</td>
            <!--<td>Visuel</td>-->
            <td>Valeur calorique ( / 100 g)</td>
            <td>Charge Glicémique ( / 100 g)</td>
            <td>Que faire ?</td>  
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let recipe of getRecipes()">
              <td> {{recipe.name}}</td>
              <td>{{recipe.getIngredients().length}}</td>
              <!--<td><img src="{{recipe.visual}}" title="photo de {{recipe.name}}" width="25" height="25" /></td>-->
              <td>{{recipe.getEnergy()}}</td>
              <td>{{recipe.getCgFor100()}}</td>
              <td>
                <a routerLink="/recipe/edit/{{recipe.id}}"><mat-icon>edit</mat-icon></a>
                <a routerLink="/recipe/detail/{{recipe.id}}"><mat-icon>list</mat-icon></a>
              </td>
            </tr>
      </tbody>
  </table>       
  </div>
</div>