@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

footer {
    margin: 150px;
}

.white-icon {
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 

  .grid-item{
    border:0.5px solid black; 
    padding:0.5px;
  }

  .grid-item.header{
    background-color:#DDD;
  }
  
  a{
      color:black;
  }
