@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

footer {
    margin: 150px;
}

.white-icon {
    color: white;
}

figure {
    text-align: center;
}
