<h1>Vos aliments</h1>

<div id="search">
  <form>
    <fieldset>
      <legend>Recherche :</legend>
      <mat-form-field appearance="legacy">
          <mat-label>Chercher</mat-label>
          <input matInput placeholder="Chercher un aliment" (input)="filter(search.value)" #search>
          <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
    </fieldset>
  </form>
</div>

<p>
  <a routerLink="/aliment/add"><mat-icon>add_box</mat-icon></a>
</p>
<p class="error" *ngIf="errorMsg != ''">{{errorMsg}}</p>
<div id="recipeList"  *ngIf="aliments.length > 0">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>              
                <th>Nom</th>
                <th>Protéines</th>
                <th>Glucides</th>
                <th>Lipides</th>
                <th>Ig</th>
                
               <th>Catégorie</th>
                <th>Visuel</th>
                <th id="actions">Que faire ?</th>  
            </tr>
        </thead>
        <tbody>
      <tr *ngFor="let aliment of getFileteredAliments()">
                <td> {{aliment.name}}</td>
                <td> {{aliment.proteins}}</td>
                <td> {{aliment.glucids}}</td>
                <td> {{aliment.lipids}}</td>
                <td> {{aliment.ig}}</td>               
                <td> {{aliment.category?.name}} </td>
                <td>
                  <ng-container *ngIf="aliment.visual">
                    <img src="{{aliment.visual}}" title="photo de {{aliment.name}}" width="50" height="50" />
                  </ng-container>
                </td>

                <td>
                  <a routerLink="/aliment/detail/{{aliment.id}}"><mat-icon>list</mat-icon></a>
                  -
                  <a routerLink="/aliment/update/{{aliment.id}}"><mat-icon>edit</mat-icon></a>
                <!-- <a routerLink="/aliment/{{aliment.name | lowercase}}"><mat-icon>edit</mat-icon></a> -->
                  - 
                  <a class="pointer" (click)="deleteAliment(aliment.id)"> <mat-icon>delete</mat-icon></a>
                </td>
              </tr>
        </tbody>
      </table>
</div>