  <main role="main">

      <div class="container">

        <div class="row">

          <div class="col-lg-12">
            <div id="header" class="clair">
              <h1>Ananas</h1>
            </div>
          </div>

          <div class="col-lg-12">
            <div style="margin-top:50px;"></div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img id="imageAliment" src="https://img-3.journaldesfemmes.com/xm8YBwXp2VBkE1oju46O2bgpBkA=/910x607/smart/6c9089cb6e3d4aaf9380a549234d0bf7/ccmcms-jdf/10662303.jpg" alt="">
            </div>
            <div class="col-lg-4">
                Ananas
            </div>
            <div class="col-lg-4">
                Fruits
            </div>           
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>manger des Ananas, bou diou que c'est bon ....
                    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.
                   Ultima Syriarum est Palaestina per intervalla magna protenta, cultis abundans terris et nitidis et civitates habens quasdam egregias, nullam nulli cedentem sed sibi vicissim velut ad perpendiculum aemulas: Caesaream, quam ad honorem Octaviani principis exaedificavit Herodes, et Eleutheropolim et Neapolim itidemque Ascalonem Gazam aevo superiore exstructas.
                  </p>
            </div>
        </div>

        <table class="table table-condensed">
            <thead>
              <tr class="center">
                <th>Proteines en gr</th>
                <th>Glucides en gr</th>
                <th>Lipides en gr</th>
                <th>Fibres en gr</th>
                <th>IG en %</th>
                <th>CG en %</th>
                <th>Kcal pour 100g</th>
              </tr>
            </thead>
            <tbody>
              <tr class="center">
                <td>101</td>                    
                <td>102</td>
                <td>103</td>
                <td>104</td>
                <td>105</td>
                <td>106</td>
                <td>107</td>
              </tr>
            </tbody>
          </table>
          
      </div><!-- /.container -->
    </main>